_misc/

input/1_travel/*
input/2_freight/MFN.gdb

output/
*__pycache__*

*draft*

# Ignore the user generated config for testing 
# (because will vary) person to person
tests/src/_testing_config.py

# .vscode from debugging is annoying if on github
.vscode/
.vs_code/

# input test files are too large to be pushed to github :(
tests/inputs/
